name: LDP GA Release Workflow
on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+*'

env:
  IMAGE_NAME: ldp

jobs:
  release-ldp-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Log in Docker Hub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: ${{ env.IMAGE_NAME }}
  
      - name: Build and publish Docker image
        uses: docker/build-push-action@v2
        with: 
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

